In [2]:
import pandas as pd

data = {'Name': ['Ram', 'Sita', 'Vishnu'],
        'Roll Number': [200, 201, 202]}
df = pd.DataFrame(data)
print("Initial DataFrame:")
print(df)

data = [['Ram', 200, 'F'], ['Sita', 201, 'F'], ['Vishnu', 202, 'M']]
df = pd.DataFrame(data, columns=['Name', 'Roll Number', 'Gender'])
print("\nDataFrame created using a different method:")
print(df)

df['Score'] = [88, 92, 79]
print("\nDataFrame after adding a new column 'Score':")
print(df)

grouped_df = df.groupby('Gender').mean(numeric_only=True)
print("\nGrouped DataFrame by 'Gender':")
print(grouped_df)

Initial DataFrame:
     Name  Roll Number
0     Ram          200
1    Sita          201
2  Vishnu          202

DataFrame created using a different method:
     Name  Roll Number Gender
0     Ram          200      F
1    Sita          201      F
2  Vishnu          202      M

DataFrame after adding a new column 'Score':
     Name  Roll Number Gender  Score
0     Ram          200      F     88
1    Sita          201      F     92
2  Vishnu          202      M     79

Grouped DataFrame by 'Gender':
        Roll Number  Score
Gender
F             200.5   90.0
M             202.0   79.0